@{
    Layout = "~/Areas/AliceChopper/Views/Shared/_AdminLayout.cshtml";
}
@section body{
    @using (Html.BeginForm())
    {<table class="frm">
        <tr>
            <td colspan="2" class="pagetit">
                <h1>
                    修改密码</h1>
            </td>
        </tr>
        <tr>
            <th>
                原密码
            </th>
            <td>
                <input id="password" name="password" type="password" class="txt1" />
            </td>
        </tr>
        <tr>
            <th>
                新密码
            </th>
            <td>
                <input id="newpassword" name="newpassword" class="txt1" type="password" />
            </td>
        </tr>
        <tr>
            <th>
                确认密码
            </th>
            <td>
                <input id="repassword" name="repassword" class="txt1" type="Password" />
            </td>
        </tr>
        <tr>
            <th>
                &nbsp;
            </th>
            <td>
                <input id="btnSure" class="btn" type="submit" text="确定" />
            </td>
        </tr>
    </table>}}
